h1, h2
{
	text-align: center;
}

h2
{
	color: rgb(84,125,191);
}

.second
{
	animation-delay: 0.2s;
}

.third
{
	animation-delay: 0.5s;
}

.box
{
	border: 1px solid gray;
}

#header
{
	text-align: right;
}

hr
{
	border: 0.5px solid gray;
	width: 50%;
}

#detail_box
{
	width: 30%;
}

#footer
{
	text-align: center;
	color: gray;
	font-size: 80%;
}

@media only screen and (max-width:600px)
{
	#logo
	{
		width: 70%;
		height: 70%;
		padding-left: 20%;
	}

	#detail_box
	{
		width: 70%;
	}

	.normal
	{
		margin-left: 20%;
	}
}

@media only screen and (min-width:600px)
{
	#logo
	{
		padding-left: 30%;
	}

	#detail_box
	{
		width: 30%;
	}
}
